<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{opportunityRequirement.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{opportunityRequirement.list.headline}]]</h1>
                <div>
                    <a th:href="@{/opportunityRequirements/add}" class="btn btn-primary ms-2">[[#{opportunityRequirement.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${opportunityRequirements.empty}">[[#{opportunityRequirement.list.empty}]]</div>
            <div th:if="${!opportunityRequirements.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{opportunityRequirement.opportunityId.label}]]</th>
                            <th scope="col">[[#{opportunityRequirement.skillId.label}]]</th>
                            <th scope="col">[[#{opportunityRequirement.isMandatory.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="opportunityRequirement : ${opportunityRequirements}">
                            <td>[[${opportunityRequirement.opportunityId}]]</td>
                            <td>[[${opportunityRequirement.skillId}]]</td>
                            <td>[[${opportunityRequirement.isMandatory}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/opportunityRequirements/edit/{id}(id=${opportunityRequirement.id})}" class="btn btn-sm btn-secondary">[[#{opportunityRequirement.list.edit}]]</a>
                                    <form th:action="@{/opportunityRequirements/delete/{id}(id=${opportunityRequirement.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{opportunityRequirement.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
