<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{organizationMember.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{organizationMember.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/organizationMembers}" class="btn btn-secondary">[[#{organizationMember.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('organizationMember')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='organizationMember', field='id', disabled=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='organizationMember', field='userId', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='organizationMember', field='orgId', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='organizationMember', field='memberRole', required=true, type='radio')}" />
                <input type="submit" th:value="#{organizationMember.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
